.footer-address .adres {
  color: $main-title-text-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.adres-nav .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.adres-nav .item {
  margin-top: 9px;
}

.hidden {
  display: none;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-info {
  width: 270px;
  margin-right: 70px;
}

.footer-address .link {
  display: inline-block;
}

.footer-address .text {
  margin: 0;
}

.footer-address .adres {
  margin: 0;
}

.site-info .item {
  margin-right: 50px;
}

.site-info {
  display: flex;
  align-items: center;
}

.post {
  display: inline-flex;
  align-items: center;
}
.icon-e-mail {
  width: 16px;
  height: 12px;
  fill: $primary-text-color;
  margin-right: 10px;
}

.site-info .post:hover .icon-e-mail {
  fill: $accent-color;
}

.telephon {
  display: inline-flex;
  align-items: center;
}

.tel-number {
  width: 10px;
  height: 16px;
  fill: $primary-text-color;
  margin-right: 10px;
}

.site-info .telephon:hover .tel-number {
  fill: $accent-color;
}
