.footer-social .text {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-title-text-color;
}

.footer-social:not(:last-child) {
  margin-right: 70px;
}

.footer-social {
  width: 270px;
  margin-right: 70px;
}

.footer-social .link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 14px;
  padding-left: 42px;
  outline: none;
}

.sign-in-button {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $accent-color;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  transition-duration: 250ms;
}

.portfol .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.adres-nav .link:hover {
  fill: $accent-color;
}
