.logo {
  color: $title-text-color;
  font-family: Raleway, cursive;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-header {
  color: $accent-color;
}

.logo {
  margin-right: 93px;
}

button {
  font-family: inherit;
}
