/* футер подписка на рассылку */
.page-footer {
  background-color: $footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-sighning {
  display: block;
}

.subscription {
  text-transform: uppercase;
  color: $main-title-text-color;
  margin-bottom: 20px;
  margin-top: 0;
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.form-label-footer {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input-footer {
  height: 48px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0 20px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}



.form-button-icon {
  height: 35px;
  width: 35px;
  padding-left: 10px;
  fill: var(--primary-white-color);
}

.form-window {
  padding-right: 12px;
}
